@use 'src/styles/base/colors' as colors;
@use 'src/styles/functions' as functions;
@use 'src/styles/mixins' as mixins;

.TaskCreateForm {
  display: flex;
  flex-direction: column;

  > * + * {
    margin-top: functions.space(2);
  }

  .TextInput {
    width: 100%;
  }

  .occurrence-question {
    @include mixins.body-medium();
  }

  .occurrence-hint {
    color: colors.$textDisabled;
    @include mixins.body-caption();
  }

  .occurrence {
    align-items: center;
    column-gap: functions.space(2);
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;

    > p {
      @include mixins.body-regular();
    }
  }

  .actions {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: functions.space(4);

    > * + * {
      margin-left: functions.space(1);
    }
  }
}
