@use 'styles/base/reset';
@use 'styles/base/colors' as colors;
@use 'styles/components/toasts';

* {
  box-sizing: border-box;
}

body {
  color: colors.$textCommon;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
