@use 'src/styles/base/colors' as colors;
@use 'src/styles/functions' as functions;
@use 'src/styles/mixins' as mixins;

.NextTaskCard {
  color: white;

  > .head,
  > .footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  > *:not(:last-child) {
    margin-bottom: functions.space();
  }

  .title {
    @include mixins.body-medium();
  }

  .delayed {
    @include mixins.body-caption();
  }

  .due-date {
    @include mixins.body-caption-semi-bold();
  }

  .MoreIcon:hover {
    cursor: pointer;
  }
}
