@use 'src/styles/base/colors' as colors;
@use 'src/styles/functions' as functions;
@use 'src/styles/mixins' as mixins;

.TaskMoreMenu {
  position: relative;

  .menu {
    background-color: white;
    box-shadow: 2px 2px 4px colors.$textDisabled;
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    z-index: 2;

    &.opened {
      display: flex;
    }

    > li {
      color: colors.$textCommon;
      padding: functions.space(2);
      @include mixins.body-small-semi-bold();

      &:hover {
        background-color: #00000011;
        cursor: pointer;
      }
    }
  }
}
