@use 'src/styles/base/colors' as colors;
@use 'src/styles/functions' as functions;
@use 'src/styles/mixins' as mixins;

.SelectInput {
  display: inline-block;
  min-height: 50px;
  position: relative;

  &.has-error {
    .field {
      border: 1px solid colors.$error;

      input {
        color: colors.$error;
      }
    }
  }

  .field {
    align-items: center;
    border: 1px solid colors.$primary;
    display: flex;
    outline: none;
    padding: functions.space(1.5) functions.space(1);
    @include mixins.body-small();

    &:hover,
    > *:hover {
      cursor: pointer;
    }

    > * + * {
      margin-left: functions.space(1);
    }

    input {
      border: none;
      padding: 0;
      outline: none;
      width: 100%;
      @include mixins.body-small();

      &::placeholder {
        color: colors.$textDisabled;
        opacity: 1;
      }
    }

    .icon {
      transition: 0.2s;

      &.opened {
        transform: rotate(180deg);
      }
    }
  }

  .dropdown {
    background-color: white;
    box-shadow: 1px 0px 8px colors.$textDisabled;
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;

    &.opened {
      display: flex;
    }

    .option {
      padding: functions.space(1.5) functions.space(1);
      width: 100%;
      @include mixins.body-small();

      &:hover {
        background-color: #00000011;
        cursor: pointer;
      }
    }
  }
}
