@use 'src/styles/base/colors' as colors;
@use 'src/styles/functions' as functions;
@use 'src/styles/mixins' as mixins;

.TextInput {
  border: 1px solid colors.$primary;
  min-height: 50px;
  outline: none;
  padding: functions.space(1.5) functions.space(1);
  @include mixins.body-small();

  &::placeholder {
    opacity: 0.6;
  }

  &.has-error {
    border: 1px solid colors.$error;
    color: colors.$error;

    &::placeholder {
      opacity: 0.6;
    }
  }
}
