@use 'src/styles/base/colors' as colors;
@use 'src/styles/functions' as functions;
@use 'src/styles/mixins' as mixins;

.TextInput {
  border: 1px solid colors.$primary;
  outline: none;
  padding: functions.space(1.5) functions.space(1);
  @include mixins.body-small();

  &::placeholder {
    color: colors.$textDisabled;
    opacity: 1;
  }
}
