@use 'src/styles/base/colors' as colors;
@use 'src/styles/functions' as functions;
@use 'src/styles/mixins' as mixins;

.TaskListItem {
  align-items: center;
  border: 1px solid colors.$primary;
  column-gap: functions.space(2);
  display: grid;
  grid-template-columns: repeat(2, max-content) auto max-content;
  padding: functions.space();

  > .title {
    @include mixins.body-small-semi-bold();
  }

  > .actions {
    grid-column: 4;
  }

  > .delay-time {
    color: colors.$primary;
    @include mixins.body-caption();
  }

  .actions {
    align-items: center;
    display: flex;

    > * + * {
      margin-left: functions.space(0.5);
    }

    > *:hover {
      cursor: pointer;
    }
  }
}
